<!-- Header -->
    <section id="header" class="skel-layers-fixed">
        <header>
            <span class="image avatar"><img src="{{ site.baseurl }}/images/avatar.jpg" alt="" /></span>
            <h1 id="logo"><a href="{{ site.baseurl }}/">Joe Davies</a></h1>
            <p>A Scottish qualified solicitor<br />
            based in the Edinburgh and Lothian regions.</p>
        </header>
        <nav id="nav">
            <ul>
                <li><a href="{{ site.baseurl }}/">Home</a></li>
                <li><a href="{{ site.baseurl }}/contact">Contact</a></li>
                <li><a href="{{ site.baseurl }}/blog">Blog</a></li>
            </ul>
        </nav>
        <footer>
            <ul class="icons">
                <li><a href="https://www.linkedin.com/in/joeadavies/" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                <li><a href="https://www.facebook.com/joe.davies.9828" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
              <!--  <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
                <li><a href="#" class="icon fa-github"><span class="label">Github</span></a></li> -->
                <li><a href="mailto:joe.a.davies@hotmail.com" class="icon fa-envelope" ><span class="label">Email</span></a></li>
            </ul>
        </footer>
    </section>


<!-- href="joe.a.davies@hotmail.com" -->
